.css-1cafy48-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
    min-height: 200px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0!important;
}

#mainDiv.focused {
    border-color: blue; /* Change the border color to your desired color */
  }

/* Loader.css */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* or another value depending on your layout */
    width: 100%;
    background-color: grey;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  