.css-1cafy48-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
    min-height: 200px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0!important;
}

#mainDiv.focused {
    border-color: blue; /* Change the border color to your desired color */
  }